@import "tailwindcss";
body{
    font-family: 'Poppins', sans-serif;
}

.animate-popup {
  animation: popup 1.2s ease-in-out infinite;
}

@keyframes popup {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.15);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
